

// linearize elements for small screens

@mixin linearize {
	@media only screen and (max-width: $screen-xs-max) {
		width: 100%;
		max-width: 100%;
		clear: both;
		margin-left: 0;
		margin-right: 0;
	}
}



		

.toolbox {
}

// set up main column
.toolbox p,
.toolbox h1,
.toolbox h2,
.toolbox h3,
.toolbox h4,
.toolbox h5,
.toolbox h6,
.toolbox ul,
.toolbox blockquote {
	margin-left: 16.667%;
	max-width: 50%;
	@include linearize;
}

.toolbox .leftelm {
	margin-left: 16.667%;
	margin-bottom: 1em;
	@include linearize;
}

.toolbox .rightelm {
	float: right;
	margin-right: 33.333%;
	margin-bottom: 1em;
	margin-left: 1em;
}

.toolbox .rightelm.breakout {
	margin-right: 16.667%;
	@include linearize;
}

.toolbox .rightelm.rightedge {
	margin-right: 0;
	@include linearize;
}
