// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

$chapter-spacing: 10em;

h2 {
	padding-top: $chapter-spacing;
}

.addemail{
	font-size: 9px;
	width: 170% !important;
	float: right;
}



// Individual example styling goes here. REMOVE ALL BELOW OR RESOLVE BEFORE FINALIZING
.jumbotron {
	background: url(../examples/images/dresser_crop.jpg) no-repeat center center fixed;
	overflow-y: auto;
	background-size: cover;
	color: #fff;
}

// social sharing
.social__bd {
	margin-top: 0.70em;
	margin-left: 1em;
}
.social__bd a {
	width: 27px;
	height: 27px;
}
.social__bd a span {
	display: none;
}
.social-button--email {
	background: url('../images/icons/social.svg') no-repeat 0px 0px;
}
.social-button--twitter {
	background: url('../images/icons/social.svg') no-repeat -27px 0px;
}
.social-button--facebook {
	background: url('../images/icons/social.svg') no-repeat -54px 0px;
}
.social-button--linkedin {
	background: url('../images/icons/social.svg') no-repeat -81px 0px;
}
.social-button--googleplus {
	background: url('../images/icons/social.svg') no-repeat -108px 0px;
}
.social-button--reddit {
	background: url('../images/icons/social.svg') no-repeat -189px 0px;
}
.social-button--stumbleupon {
	background: url('../images/icons/social.svg') no-repeat -135px 0px;
}
.social-button--print {
	background: url('../images/icons/social.svg') no-repeat -162px 0px;
}




// This is a fix to account for Bootstrap looking for fonts in wrong folder (seems to be built into Compass)
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}