// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

$chapter-spacing: 10em;

h2 {
	padding-top: $chapter-spacing;
}

.addemail{
	font-size: 9px;
	width: 170% !important;
	float: right;
}
#email{
	margin-top:5px;
}
#btnSubmit{
	padding-top:4px;
	padding-bottom:4px;
	font-size: 12px;
	margin-top:-2px;
}

// Drop Cap Styling

// Style individual letter.
.dropletter{
 float: left;
 font-size: 5em;
 line-height: 1em;
 margin-right: .1em;
 margin-left: 0;
}

// Major area with drop cap start.
.drop{
	clear: both;
}
.drop:after{
	content: " "; 
	display: block;
	clear: both;
}


// video embeds
// see http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/

.video-container-16by9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container-16by9 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


// Icon Font Installation
@font-face {
  font-family: 'icomoon regular';
  src: url("fonts/icomoon/icomoon-eot.eot");
  src: url("fonts/icomoon/icomoon-eot.eot?#iefix") format("embedded-opentype"), 
  	   url("fonts/icomoon/icomoon-woff.woff") format("woff"), 
  	   url("fonts/icomoon/icomoon-ttf.ttf") format("truetype"), 
  	   url("fonts/icomoon/icomoon-svg.svg#regular") format("svg");
} 

.logo{
	font-family: 'icomoon regular';
	font-weight: normal;
	font-size: 2em;
}

.iconfont {
	font-family: 'icomoon regular';
	font-weight: normal;
}

// Icon font fallback

.iconfont-fallback .iconfont {
	display: none;
}

.fontface .iconfont-fallback .iconfont {
	display: inline;
}

.fontface .iconfont-fallback .fallback {
	display: none;
}



// social sharing
.social__bd {
	margin-top: 0.70em;
	margin-left: 1em;
}
.social__bd a {
	width: 27px;
	height: 27px;
}
.social__bd a span {
	display: none;
}
.social-button--email {
	background: url('../images/icons/social.svg') no-repeat 0px 0px;
}
.social-button--twitter {
	background: url('../images/icons/social.svg') no-repeat -27px 0px;
}
.social-button--facebook {
	background: url('../images/icons/social.svg') no-repeat -54px 0px;
}
.social-button--linkedin {
	background: url('../images/icons/social.svg') no-repeat -81px 0px;
}
.social-button--googleplus {
	background: url('../images/icons/social.svg') no-repeat -108px 0px;
}
.social-button--reddit {
	background: url('../images/icons/social.svg') no-repeat -189px 0px;
}
.social-button--stumbleupon {
	background: url('../images/icons/social.svg') no-repeat -135px 0px;
}
.social-button--print {
	background: url('../images/icons/social.svg') no-repeat -162px 0px;
}


// video embeds
// see http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/

.video-container-16by9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container-16by9 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
// Individual example styling goes here. REMOVE ALL BELOW OR RESOLVE BEFORE FINALIZING
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.jumbotron {
	background-size: cover;
	background: #000 url(../examples/images/dresser-crop-edit.jpg) no-repeat center center fixed;
	overflow-y: auto;
	color: #fff;
	h2{
		padding-top: 30px;
	}
}

// This is a fix to account for Bootstrap looking for fonts in wrong folder (seems to be built into Compass)
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/bootstrap/glyphicons-halflings-regular-eot.eot");
  src: url("fonts/bootstrap/glyphicons-halflings-regular-eot.eot?#iefix") format("embedded-opentype"), url("fonts/bootstrap/glyphicons-halflings-regular-woff.woff") format("woff"), url("fonts/bootstrap/glyphicons-halflings-regular-ttf.ttf") format("truetype"), url("fonts/bootstrap/glyphicons-halflings-regular-svg.svg#glyphicons_halflingsregular") format("svg");
} 