// ==================================================
//
//    BASE STYLES
//
// --------------------------------------------------
//
//    This file contains base styles which are core
//    to all articles. Generally speaking, this
//    document should NOT BE MODIFIED.
// 
//    Should you wish to overwrite base styles, you
//    may do so in:
//      _customizations.scss
//
// ==================================================

@import "variables";
@import "bootstrap";
@import "customizations";

//
//  BASE STYLES
//
body{
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

// Buttons
.addemail{
	font-size: 9px;
	width: 170% !important;
	float: right;
}
#email{
	margin-top:5px;
}
#btnSubmit{
	padding-top:4px;
	padding-bottom:4px;
	font-size: 12px;
	margin-top:-2px;
}

//
//  NON-ARTICLE STRUCTURAL ELEMENTS
//

// Nav Bar
.navbar {
  background-color: $b-brookings-header-bg-color;
  border-color: $b-brookings-header-border-color;

  .logo {
    border-color: $b-brookings-header-divider-color;
  }

  a, 
  a:link, 
  a:visited,
  li > a,
  li > a:link,
  li > a:visited {
    color: $b-brookings-header-link-color;

    &:hover {
      color: $b-brookings-header-link-hover-color;
    }
  }
}


//
//  ARTICLE STRUCTURAL ELEMENTS
//

// Hero Image / Jumbotron
.jumbotron {  
  margin-bottom: 0;
  padding: 0;
  overflow:hidden;
  position: relative;
  
  background-image: url($b-intro-jumbotron-bg-image-url);
  background-repeat: no-repeat;
  background-color: $gray-lighter;
  text-align: $b-article-header-text-alignment;

  @if $b-intro-jumbotron-bg-type == "ratio" {
    background-size: 100% auto !important;
    
    &:after {
      content: " ";
      display: block;
      padding-bottom: percentage(floor($b-intro-jumbotron-bg-image-height / ($b-intro-jumbotron-bg-image-width / 100)) * .01);
    }

    @media screen and (max-width: $screen-sm) {
      .container {
        position: absolute;
        top: 50px; 
        left: 15px;
        right: 15px;     
      }
    }
  }

  @if $b-intro-jumbotron-bg-type == "fluid" {
    background-size: cover;
    background-position: center center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  &#intro {
    margin-top: 50px;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: $b-article-title-color;
    font-family: $b-article-title-font;
    font-size: $b-article-title-size;
  }
  h2 {
    color: $b-article-subtitle-color;
    font-family: $b-article-subtitle-font;
    font-size: $b-article-subtitle-size;
  }
  h3 {
    color: $b-article-author-color;
    font-family: $b-article-author-font;
    font-size: $b-article-author-size; 
  }
  time {
    color: $b-article-date-color;
    font-family: $b-article-date-font;
    font-size: $b-article-date-size;  
  }
  cite {
    color: $b-article-photo-credit-color;
    font-family: $b-article-photo-credit-font;
    font-size: $b-article-photo-credit-size;

    @if $b-article-photo-credit-position == "top right" {
      position: absolute;
      top: 20px;
      right: 15px;
    }
    @if $b-article-photo-credit-position == "bottom right" {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
    @if $b-article-photo-credit-position == "bottom left" {
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
    @if $b-article-photo-credit-position == "top left" {
      position: absolute;
      top: 20px;
      left: 15px;
    }
  }
  .top-caption {
    cite {
      position: static;
    }
  }
}

// CHAPTER (section) visual styles & positioning
.section {
  padding-top: 8%;
  padding-bottom: 8%;

  background: $b-section-bg-color;

  overflow-x: hidden;

  p {
    font-family: $font-family-serif;
    font-size: 20px;
    font-weight: 200;
  }
}


// Drop Cap Styling
// Style individual letter.
.dropletter {
 float: left;
 margin-right: .1em;
 margin-left: 0;
 display: block;
 padding: 20px 10px 0px;
 line-height: 1;

 background-color: $b-drop-cap-bg-color;
 color: $b-drop-cap-color;
 font-size: $b-drop-cap-font-size;
 font-family: $b-drop-cap-font;
}
// Major area with drop cap start.
.drop{
	clear: both;
}
.drop:after{
	content: " "; 
	display: block;
	clear: both;
}


// TEXT CONTAINER visual styles & positioning
.content {
  position: relative;
  max-width: 900px;

  padding-top: 3em;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 3em;

  background: #fff;
}

// IN-TEXT IMAGES
img.pull-right {
  margin: 0.2em 0 2em 2em;
}
img.pull-left {
 margin: 0.2em 2em 2em 0; 
}
img.center {
  display: block;
  margin: 0 auto 2em;
}

// MEDIA CONTAINER visual styles
.mediaContainer {
  padding: 2em;

  background-color: $b-media-container-bg-color;

  img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .slingpic {
    width: 100% !important; 
    height: auto !important;
  }

  // margin & padding
  &.pull-right {
    margin-left: 5%;
    @media screen and (max-width: $screen-sm) {
      margin-left: 0;
      margin-bottom: 2em;
    }
  }
  &.pull-left {
    margin-right: 5%;
    @media screen and (max-width: $screen-sm) {
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
  &.center {
    margin-bottom: 2em;
  }

  .caption {
    margin: 1em 0;

    color: $b-media-container-caption-color;
    font-size: $b-media-container-caption-font-size;
    font-family: $b-media-container-caption-font-family;
  }
  cite {
    color: $b-media-container-credit-color;
    font-size: $b-media-container-credit-font-size;
    font-family: $b-media-container-credit-font-family;
  }

}


// TEXT CONTAINER visual styles
.textContainer {
  padding: 1.5em 2em;
  
  background: $b-text-container-bg-color;
  color: $b-text-container-text-color;
  font-family: $b-text-container-font;

  &.pull-right {
    margin-left: 5%;
  }
  &.pull-left {
    margin-right: 5%;
  }

  @media screen and (max-width: $screen-sm) {
    margin-bottom: 2em;
    
    &.pull-right {
      margin-left: 0;
    }
    &.pull-left {
      margin-right: 0;
    }
  }

  blockquote {
    padding: 0;
    
    border: 0;
    color: $b-text-container-blockquote-text-color;
    font-size: $b-text-container-blockquote-font-size;
    font-family: $b-text-container-blockquote-font;
  }

  h1,
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-top: 0;
    margin-bottom: .75em;
  }

  cite {
    color: $b-text-container-credit-color;
    font-size: $b-text-container-credit-font-size;
    font-family: $b-text-container-credit-font-family;
  }
}

// HANGING ITEM positioning/sizing
.hang {
  &.pull-right {
    margin-right: -50%;

    // Responsive states
    @media screen and (max-width: $screen-md) {
      margin-right: -15%;
    }
    @media screen and (max-width: $screen-sm) { // BOOTSTRAP BREAKPOINT
      width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
      float: none;
    }
  }
  &.pull-left {
    margin-left: -22%;

    // Responsive states
    @media screen and (max-width: 991px) { // BOOTSTRAP BREAKPOINT
      margin-left: -15%;
    }
    @media screen and (max-width: 767px) { // BOOTSTRAP BREAKPOINT
      width: 100%;
      margin-left: 0;

      float: none;
    }
  }
}


// FIXED ITEM positioning/sizing
.fixed {
  clear: both;
  &.pull-right {
    width: 200%;
    max-width: 800px;
    position: relative;
    right: -56.8%;
    margin-left: -52%;
    margin-bottom: 2.5%;

    // Responsive states
    @media screen and (max-width: 1190px) {
      max-width: 400px;
    }
    @media screen and (max-width: $screen-md) { // BOOTSTRAP BREAKPOINT
      right: -20.2%;
      margin-left: -15%;
    }
    @media screen and (max-width: $screen-sm) { // BOOTSTRAP BREAKPOINT
      width: 100%;
      max-width: 100%;

      position: static;
      right: auto;
      margin-bottom: 1em;
      margin-left: auto;
      float: none;
    }
  }

  &.pull-left {
    width: 200%;
    max-width: 700px;
    position: relative;
    left: -26.2%;
    margin-right: -21%;
    margin-bottom: 2.5%;

    // Responsive states
    @media screen and (max-width: 1450px) {
      max-width: 600px;
    }
    @media screen and (max-width: 1300px) {
      max-width: 500px;
    }
    @media screen and (max-width: 1100px) {
      max-width: 400px;
    }
    @media screen and (max-width: 991px) { // BOOTSTRAP BREAKPOINT
      left: -20.1%;
      margin-right: -16%;
    }
    @media screen and (max-width: 950px) {
      
    }
    @media screen and (max-width: 767px) { // BOOTSTRAP BREAKPOINT
      width: 100%;
      max-width: 100%;

      position: static;
      left: auto;
      margin-bottom: 1em;
      margin-right: auto;
      float: none;
    }
  }
}


// ACCORDION visual styles
.accordion {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 2em;
  
  background-color: $b-accordion-bg-color;
  color: $b-accordion-text-color;
  font-family: $b-accordion-font-family;

  &.pull-right {
    margin-left: 5%;
  }
  &.pull-left {
    margin-right: 5%;
  }

  a {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .hiddenContent {
    margin-top: 1em;
    padding-top: 1em;
    display: none;

    border-top: 1px solid #000;
    color: $b-accordion-text-color;
    font-family: $b-accordion-hidden-content-font-family;

    p {
      color: $b-accordion-text-color;
      font-family: $b-accordion-hidden-content-font-family;
    }
  }
}





// do not scale specified images
.no-scaling {
	max-width: none !important;
}


// for visualizations that require SVG support 
// (D3 and AmCharts), show fallback for non-SVG browsers
.svg-test--available {
	visibility: hidden;
}
.svg .svg-test--available {
	visibility: visible;
}
.svg .svg-test--fallback {
	display: none;
}


// Icon Font Installation
@font-face {
  font-family: 'icomoon regular';
  src: url("icomoon/icomoon-eot.eot");
  src: url("icomoon/icomoon-eot.eot?#iefix") format("embedded-opentype"), 
  	   url("icomoon/icomoon-woff.woff") format("woff"), 
  	   url("icomoon/icomoon-ttf.ttf") format("truetype"), 
  	   url("icomoon/icomoon-svg.svg#regular") format("svg");
} 
.logo, .house{
	font-family: 'icomoon regular';
	font-weight: normal;
}
.logo{
	font-size: 2em;
	padding-left: 15px;
	border-left: 1px solid #fff;
}
.house{
	font-size: 1.2em;
}
.iconfont {
	font-family: 'icomoon regular';
	font-weight: normal;
}

// Icon font fallback
.iconfont-fallback .iconfont {
	display: none;
}
.fontface .iconfont-fallback .iconfont {
	display: inline;
}
.fontface .iconfont-fallback .fallback {
	display: none;
}


// Font Awesome icon font
@import "../stylesheets/fonts/font-awesome/scss/font-awesome.scss";


// social sharing
.social {
	position: fixed;
	top: 50%;

  @if $b-share-bar-position == "left" {
    left: 0;
  }
  @if $b-share-bar-position == "right" {
    right: 0;
  }
}
.social__bd {
	position: relative;
	top: -142px;
	width: 33px;
	height: 264px;

  background-color: $b-share-bar-bg-color;
}
.social__bd a {
	width: 33px;
	height: 33px;
	padding: 10px 3px 3px 3px;
	display: block;
	color: $b-share-bar-link-color;
	text-align: center;
	font-size: 16px;
}
.social__bd a:hover {
	background: $b-share-bar-link-hover-bg-color;
	color: $b-share-bar-link-hover-color;
}
.social__bd a i {
	position: relative;
	top: 3px;
}
/* hide social on small screens */
@media (max-width: 480px) {
	.social {
		display: none;
	}
}

// video embeds
// see http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/
.video-container-16-by-9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container-16-by-9 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container-4-by-3 {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container-4-by-3 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


#intro{
	background-size: cover;
}


// responsive image example
#responsive-image-example img {
	@include img-responsive;
}

.subhead{
	background-color: black;
	color: #AEA057;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}

.chapter-image {
	width:100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.top-caption {
	padding: 2em;
	
  background-color: $b-chapter-image-caption-bg-color;
  color: $b-chapter-image-caption-text-color;
  font-size: $b-chapter-image-caption-font-size;
  font-family: $b-chapter-image-caption-font-family;

  cite {
    display: block;
    margin-top: 1em;

    color: $b-chapter-image-credit-text-color;
    font-size: $b-chapter-image-credit-font-size;
    font-family: $b-chapter-image-credit-font-family;
  }
}

@media (max-width: 992px) {
  .jumbotron {
  	h1{
  		padding-top: 6%;
  	}
  	h2{
  		padding-top: 5%;
  	}
  }
}
@media (max-width: 768px) {
  .jumbotron {
  	h2{
  		padding-top: 3%;
  	}
  }
}

// Modal windows
.modal {

  .modal-content {
    padding: 20px;
    text-align: center;
  }

  &.email-success-modal {
    .modal-content {
      background-color: $b-email-success-modal-bg-color;
    }
  }
  &.email-fail-modal {
    .modal-content {
      background-color: $b-email-fail-modal-bg-color;
    }
  }
}