// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

#test {
  color: #fff;
}


// Individual example styling goes here. REMOVE BEFORE FINALIZING
.jumbotron {
	background: url(../example-images/dresser_crop.jpg) no-repeat center center fixed;
	overflow-y: auto;
	background-size: cover;
	color: #fff;
}