/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 17 of /Users/rossnover/Documents/Design Things/_Work Things/gits/brookings-essay-template/sass/styles.scss

Backtrace:
/Users/rossnover/Documents/Design Things/_Work Things/gits/brookings-essay-template/sass/styles.scss:17
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:28:in `parse'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `block in created'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/rossnover/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/rossnover/.rbenv/versions/2.0.0-p195/bin/compass:23:in `load'
/Users/rossnover/.rbenv/versions/2.0.0-p195/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 17 of /Users/rossnover/Documents/Design Things/_Work Things/gits/brookings-essay-template/sass/styles.scss"; }
